* {
  box-sizing: border-box;
  font-size: 20px;
  font-family: monospace;
}

:root {
  --primary: #eee;
  --secondary: #aaa;
  --base: #333;
}

#game-board {
  height: 90vmin;
  width: 90vmin;
  background-color: var(--base);
  margin: auto;
  border: 0.25vmin solid var(--base);
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  gap:none;
}

#score-card {
  display:flex;
  flex-flow:row nowrap;
  align-items:center;
  justify-content: space-evenly;
}

.snake-node {
  height: 2vmin;
  width: 2vmin;
  background-color: var(--primary);
}

.nibble {
  height: 2vmin;
  width: 2vmin;
  background-color: var(--secondary);
}
