* {
  box-sizing: border-box;
  font-size: 20px;
  font-family: monospace;
}

:root {
  --primary: #999;
  --secondary: #b30b0b;
  --base: #222;
}

body{
  background-color:var(--primary);
}

#game-board {
  height: 90vmin;
  width: 90vmin;
  background-color: var(--base);
  margin: auto;
  border: 0.25vmin solid var(--base);
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  gap: none;
  position: relative;
}

#score-card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

#start-button {
  position: absolute;
  width: 20vmin;
  top: 40vmin;
  left: 35vmin;
  border: none;
  border-radius: 20px;
  background-color: var(--primary);
  color: var(--base);
}

#start-button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.snake-node {
  height: 1.8vmin;
  width: 1.8vmin;
  background-color: var(--primary);
}

.nibble {
  height: 0;
  width: 0;
  position:relative;
  border-left: .9vmin solid transparent;
  border-right: .9vmin solid transparent;
  border-top:.9vmin solid var(--secondary);
  transform:translate(0, .9vmin);
}

.nibble::after{
  content:'';
  height: .9vmin;
  width: .9vmin;
  background-color: var(--secondary);
  position:absolute;
  top: -1.5vmin;
  left: -.1vmin;
  border-radius:50%;
}

.nibble::before{
  content:'';
  height: .9vmin;
  width: .9vmin;
  background-color: var(--secondary);
  position:absolute;
  top: -1.5vmin;
  right: -.1vmin;
  border-radius:50%;
}